<!DOCTYPE html>
<html>
<head>
    <title>Food Finder App</title>

</head>
    
<body>
    <h1>Food Finder App</h1>
    <h2>How it works</h2>
    <p>
        Enter the amount of recipes you want to see in the first box. Enter the ingredients you have in the search bar (separated by commas) and find out what food you can make!    
    </p>      
    
    <form name="FindFood" action="." method="post">
        <label>Number of recipes to find: </label>
        <input type="text" name="nRecipes">
        <label>Ingredients: </label>
        <input type="text" name="ingredients">
        <input type="submit" value="submit">
    </form>
    
</body>
</html>